<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="parulbeautycareEntities" connectionString="metadata=res://*/DataModels.ParulBeautyCaredb.csdl|res://*/DataModels.ParulBeautyCaredb.ssdl|res://*/DataModels.ParulBeautyCaredb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=51.75.145.34,49884;initial catalog=parulbeautycare;user id=parulbeautycare;password=@@JULY2018@@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>