@{
    ViewBag.Title = "Dashboard";
    ViewBag.Module = "Parul Beauty Care";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
<style>

    .bg-gradient-primary {
        background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
    }

    .bg-gradient-secondary {
        background-image: linear-gradient(195deg, #747b8a 0%, #495361 100%);
    }

    .bg-gradient-success {
        background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
    }

    .bg-gradient-info {
        background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
    }

    .bg-gradient-warning {
        background-image: linear-gradient(195deg, #FFA726 0%, #FB8C00 100%);
    }

    .bg-gradient-danger {
        background-image: linear-gradient(195deg, #EF5350 0%, #E53935 100%);
    }

    .bg-gradient-light {
        background-image: linear-gradient(195deg, #EBEFF4 0%, #CED4DA 100%);
    }

    .bg-gradient-dark {
        background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
    }

    .bg-gradient-faded-primary {
        background-image: radial-gradient(370px circle at 80% 50%, rgba(233, 30, 99, 0.6) 0, #c1134e 100%);
    }

    .bg-gradient-faded-secondary {
        background-image: radial-gradient(370px circle at 80% 50%, rgba(, 128, 154, 0.6) 0, #626780 100%);
    }

    .bg-gradient-faded-success {
        background-image: radial-gradient(370px circle at 80% 50%, rgba(76, 175, 80, 0.6) 0, #3d8b40 100%);
    }

    .bg-gradient-faded-info {
        background-image: radial-gradient(370px circle at 80% 50%, rgba(26, 115, 232, 0.6) 0, #135cbc 100%);
    }

    .bg-gradient-faded-warning {
        background-image: radial-gradient(370px circle at 80% 50%, rgba(251, 140, 0, 0.6) 0, #c87000 100%);
    }

    .bg-gradient-faded-danger {
        background-image: radial-gradient(370px circle at 80% 50%, rgba(244, 67, 53, 0.6) 0, #e91d0d 100%);
    }

    .bg-gradient-faded-light {
        background-image: radial-gradient(370px circle at 80% 50%, rgba(240, 242, 245, 0.6) 0, #d1d7e1 100%);
    }

    .bg-gradient-faded-dark {
        background-image: radial-gradient(370px circle at 80% 50%, rgba(52, 71, 103, 0.6) 0, #233045 100%);
    }

    .bg-gradient-faded-white {
        background-image: radial-gradient(370px circle at 80% 50%, rgba(255, 255, 255, 0.6) 0, #e6e6e6 100%);
    }

    .bg-gradient-faded-dark-blue {
        background-image: radial-gradient(370px circle at 80% 50%, rgba(26, 35, 126, 0.6) 0, #111754 100%);
    }

    .bg-gradient-faded-primary-vertical {
        background-image: radial-gradient(200px circle at 50% 70%, rgba(233, 30, 99, 0.3) 0, #e91e63 100%);
    }

    .bg-gradient-faded-secondary-vertical {
        background-image: radial-gradient(200px circle at 50% 70%, rgba(, 128, 154, 0.3) 0, #7b809a 100%);
    }

    .bg-gradient-faded-success-vertical {
        background-image: radial-gradient(200px circle at 50% 70%, rgba(76, 175, 80, 0.3) 0, #4CAF50 100%);
    }

    .bg-gradient-faded-info-vertical {
        background-image: radial-gradient(200px circle at 50% 70%, rgba(26, 115, 232, 0.3) 0, #1A73E8 100%);
    }

    .bg-gradient-faded-warning-vertical {
        background-image: radial-gradient(200px circle at 50% 70%, rgba(251, 140, 0, 0.3) 0, #fb8c00 100%);
    }

    .bg-gradient-faded-danger-vertical {
        background-image: radial-gradient(200px circle at 50% 70%, rgba(244, 67, 53, 0.3) 0, #F44335 100%);
    }

    .bg-gradient-faded-light-vertical {
        background-image: radial-gradient(200px circle at 50% 70%, rgba(240, 242, 245, 0.3) 0, #f0f2f5 100%);
    }

    .bg-gradient-faded-dark-vertical {
        background-image: radial-gradient(200px circle at 50% 70%, rgba(52, 71, 103, 0.3) 0, #344767 100%);
    }

    .bg-gradient-faded-white-vertical {
        background-image: radial-gradient(200px circle at 50% 70%, rgba(255, 255, 255, 0.3) 0, #fff 100%);
    }

    .bg-gradient-faded-dark-blue-vertical {
        background-image: radial-gradient(200px circle at 50% 70%, rgba(26, 35, 126, 0.3) 0, #1A237E 100%);
    }

    .material-icons {
        font-family: 'Material Icons Round' !important;
        font-weight: normal !important;
        font-style: normal !important;
        font-size: 20px !important;
        /* Preferred icon size */
        display: inline-block !important;
        line-height: 1 !important;
        text-transform: none !important;
        letter-spacing: normal !important;
        word-wrap: normal !important;
        white-space: nowrap !important;
        direction: ltr !important;
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased !important;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility !important;
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale !important;
        /* Support for IE. */
        font-feature-settings: 'liga' !important;
    }

    .nav.nav-pills .nav-link .material-icons {
        top: 3px !important;
    }

    .icon-shape {
        width: 48px !important;
        height: 48px !important;
        background-position: center !important;
        border-radius: 0.5rem !important;
    }

        .icon-shape i {
            color: #fff !important;
            opacity: 0.8 !important;
            top: 5px !important;
            position: relative !important;
        }

        .icon-shape .ni {
            top: 14px !important;
        }

    .icon-xxs {
        width: 20px !important;
        height: 20px !important;
    }

        .icon-xxs i {
            top: 0 !important;
            font-size: 0.65rem !important;
        }

    .icon-xs {
        width: 24px !important;
        height: 24px !important;
    }

        .icon-xs i {
            top: -1px !important;
            font-size: 0.75rem !important;
        }

    .icon-sm {
        width: 32px !important;
        height: 32px !important;
    }

        .icon-sm i {
            top: 4px !important;
            font-size: 0.875rem !important;
        }

    .icon-md {
        width: 48px !important;
        height: 48px !important;
    }

        .icon-md i {
            top: 30% !important;
            font-size: 1.125rem !important;
        }

        .icon-md.icon-striped {
            background-position-x: 85px !important;
            background-position-y: 85px !important;
        }

            .icon-md.icon-striped i {
                top: 11% !important;
                margin-left: -10px !important;
                font-size: 0.875rem !important;
            }

    .icon-lg {
        width: 64px !important;
        height: 64px !important;
    }

        .icon-lg i {
            /* top: 31% !important ;*/
            font-size: 1.5rem !important;
        }

        .icon-lg.icon-striped {
            background-position-x: 111px !important;
            background-position-y: 111px !important;
        }

            .icon-lg.icon-striped i {
                top: 21% !important;
                margin-left: -15px !important;
            }

    .icon-xl {
        width: 100px !important;
        height: 100px !important;
        border-radius: 0.5rem !important;
    }

        .icon-xl i {
            top: 35% !important;
            font-size: 2.1rem !important;
        }

        .icon-xl.icon-striped {
            background-position-x: 80px !important;
            background-position-y: 80px !important;
        }

            .icon-xl.icon-striped i {
                top: 30% !important;
                margin-left: -15px !important;
            }

    .shadow-primary {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4) !important;
    }

    .text-center {
        text-align: center !important;
    }

    .mt-n4 {
        margin-top: -1.5rem !important;
        /*  margin-left: 272px !important;*/
    }

    .position-absolute {
        position: absolute !important;
    }
</style>
<div class="content-wrapper">

    <br />
    <!--Cards-->
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                <i class="opacity-10 fa fa-user"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Total Customers</h4>
                            <div class="d-flex justify-content-between">
                                @*<p>Avg. Session</p>*@
                                <p>80 Customers</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-info w-100" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-primary shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                <i class="fa fa-check-circle opacity-10"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Today's Appointments</h4>
                            <div class="d-flex justify-content-between">
                                <p></p>
                                <p>15</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-success w-100" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-success shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                <i class="fa fa-2x fa-users opacity-10"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Total Staff</h4>
                            <div class="d-flex justify-content-between">
                                <p></p>
                                <p>45</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-danger w-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                <i class="fa fa-rupee opacity-10"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Monthly Sales</h4>
                            <div class="d-flex justify-content-between">
                                <p></p>
                                <p>25000</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-warning w-100" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!--Charts-->
    <div class="row mt-4">
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2 ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="mb-0 ">Appointments (Weekly)</h2>
                    <hr class="dark horizontal">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2  ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="mb-0 ">Sales (Monthly)</h2>
                    <hr class="dark horizontal">
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4 mb-3">
            <div class="card z-index-2 ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="mb-0 ">Customers Ratio (Monthly)</h2>
                    <hr class="dark horizontal">
                </div>
            </div>
        </div>
    </div>
    <!---->

    <div class="row mt-3">
        <div class="col-xl-5 col-lg-6 d-flex grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between">
                        <h4 class="card-title mb-3">Monthly Sales</h4>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div id="circleProgress6" class="progressbar-js-circle rounded p-3"></div>
                                </div>
                                <div class="col-lg-6">

                                    <ul class="session-by-channel-legend">
                                        <li>
                                            <div><b>Product</b></div>
                                            <div><b>Qty</b></div>
                                        </li>
                                        <li>
                                            <div>Nykaa Cosmetics</div>
                                            <div>66</div>
                                        </li>
                                        <li>
                                            <div>Pond's Sunscreen</div>
                                            <div>63</div>
                                        </li>
                                        <li>
                                            <div>Mamaearth Lipstics</div>
                                            <div>58</div>
                                        </li>
                                        <li>
                                            <div>Loreal Facial Spray</div>
                                            <div>50</div>
                                        </li>
                                        <li>
                                            <div>Mamaearth Foundation</div>
                                            <div>40</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-xl-7 d-flex grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between">
                        <h4 class="card-title mb-3">Today's Appointments</h4>
                    </div>
                    <div class="add-items d-flex">
                        <input type="text" class="form-control todo-list-input" placeholder="Add Cutomer No | Name">
                        <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button>
                    </div>
                    <div class="list-wrapper">
                        <ul class="d-flex flex-column-reverse todo-list">
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        Customer No : PBC001 | Arpita Macwana | 9904587654
                                    </label>
                                </div>
                                <i class="remove typcn  typcn-delete-outline"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        Customer No : PBC051 | Krutika Shah | 7785469854
                                    </label>
                                </div>
                                <i class="remove typcn  typcn-delete-outline"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        Customer No : PBC145 | Vidhisha Thakkar | 8865321547
                                    </label>
                                </div>
                                <i class="remove typcn  typcn-delete-outline"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        Customer No : PBC174 | Sukoon Patel | 7785496521
                                    </label>
                                </div>
                                <i class="remove typcn  typcn-delete-outline"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        Customer No : PBC241 | Shrusti Makwaana | 9965321587
                                    </label>
                                </div>
                                <i class="remove typcn  typcn-delete-outline"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Today's Completed Appointments</h4>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Customer No</th>
                                    <th>Name</th>
                                    <th>Contact No</th>
                                    <th>Service</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PBC4594</td>
                                    <td>Vidhya patel</td>
                                    <td>7845125698</td>
                                    <td>Bridal Package</td>
                                    <td><label class="badge badge-success">Completed</label></td>
                                </tr>
                                <tr>
                                    <td>PBC8334</td>
                                    <td>Rupal Shah</td>
                                    <td>8631549658</td>
                                    <td>Hair Straightning</td>
                                    <td><label class="badge badge-success">Completed</label></td>
                                </tr>
                                <tr>
                                    <td>PBC3544</td>
                                    <td>Anjali Ka. Patel</td>
                                    <td>9965884565</td>
                                    <td>Manicure Pedicure</td>
                                    <td><label class="badge badge-success">Completed</label></td>
                                </tr>
                                <tr>
                                    <td>PBC0354</td>
                                    <td>Simran Khan</td>
                                    <td>8865421145</td>
                                    <td>Makeup</td>
                                    <td><label class="badge badge-success">Completed</label></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
        type: "bar",
        data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
                label: "Appointments",
                tension: 0.4,
                borderWidth: 0,
                borderRadius: 4,
                borderSkipped: false,
                backgroundColor: "rgba(255, 255, 255, .8)",
                data: [5, 8, 10, 6, 12, 8, 9],
                maxBarThickness: 6
            },],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 500,
                        beginAtZero: true,
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                        color: "#fff"
                    },
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    new Chart(ctx2, {
        type: "line",
        data: {
            labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [{
                label: "Sales",
                tension: 0,
                borderWidth: 0,
                pointRadius: 5,
                pointBackgroundColor: "rgba(255, 255, 255, .8)",
                pointBorderColor: "transparent",
                borderColor: "rgba(255, 255, 255, .8)",
                borderColor: "rgba(255, 255, 255, .8)",
                borderWidth: 4,
                backgroundColor: "transparent",
                fill: true,
                data: [50, 40, 300, 320, 500, 350, 200, 230, 500],
                maxBarThickness: 6

            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

    new Chart(ctx3, {
        type: "line",
        data: {
            labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [{
                label: "Total Customers",
                tension: 0,
                borderWidth: 0,
                pointRadius: 5,
                pointBackgroundColor: "rgba(255, 255, 255, .8)",
                pointBorderColor: "transparent",
                borderColor: "rgba(255, 255, 255, .8)",
                borderWidth: 4,
                backgroundColor: "transparent",
                fill: true,
                data: [52, 55, 200, 125, 133, 188, 255, 296, 300],
                maxBarThickness: 6

            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        display: true,
                        padding: 10,
                        color: '#f8f9fa',
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });
</script>
