@{
    ViewBag.Title = "Error500";
    Layout = null;
}

<link href="~/Content/assets/css/error.css" rel="stylesheet" />
<style>
    .w-25 {
        width: 25%;
    }

    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
</style>
<video autoplay muted loop id="myVideo">
    <source src="~/Content/assets/css/vecteezy_modern-animation-illustration-of-beautiful-woman-with-long_19548359_595.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

<div class="wrapper">
    <div class="landing-page">
        <div style="text-align:center;" class="icon__download">
            <img src="~/Content/assets/css/Wavy_Lst-07_Single-11.jpg" class="w-25" />


        </div>

        @*<h1> 404 Error.</h1>
            <p> We can't find the page you're looking for.</p>*@
        <h1>Sorry.</h1>
        <p>for the inconvenience</p>
        <button onclick="redirectToHome()">Back to Home</button>
    </div>
</div>

<script>
  function redirectToHome() {
    window.location.href = "/home"; // Replace "/home" with the appropriate URL or route for your application
  }
</script>
