@{
    ViewBag.Title = "Staff Management";
}

<style>
    ::-webkit-scrollbar {
        width: 0px;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #f2125e;
        }

  
</style>
<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            @*<h1 class="pink"><b>STAFF MANAGEMENT </b></h1>*@
            <div class="row">
                <div class="d-xl-flex justify-content-between align-items-center">
                    <h1 class="pink"><b>STAFF MANAGEMENT </b></h1>
                    <a class="btn btn-sm btn-outline-primary btn-round mb-3" href="@Url.Action("AddStaffMgmt","StaffManagement")">
                        <i class="fa fa-plus mx-2 "></i>Add
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Address</th>
                                    <th>Actions</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Address</th>
                                    <th>Actions</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Address</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Vidhya</td>
                                    <td>Suresh</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                    <td>Vidhya</td>
                                    <td>Suresh</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                    <td>Vidhya</td>
                                    <td>Suresh</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Riya</td>
                                    <td>Ajay</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                    <td>Vidhya</td>
                                    <td>Suresh</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                    <td>Vidhya</td>
                                    <td>Suresh</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sanjna</td>
                                    <td>Vijay</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Bakrol</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                    <td>Vidhya</td>
                                    <td>Suresh</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                    <td>Vidhya</td>
                                    <td>Suresh</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


