@{
    ViewBag.Title = "Staff Management";
}

<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            @*<h1 class="pink"><b>STAFF MANAGEMENT </b></h1>*@
            <div class="row">
                <div class="d-xl-flex justify-content-between align-items-center">
                    <h1 class="pink"><b>STAFF MANAGEMENT </b></h1>
                    <a class="btn btn-sm btn-outline-primary btn-round mb-3" href="@Url.Action("AddStaffMgmt","StaffManagement")">
                        <i class="fa fa-plus mx-2 "></i>Add
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="base-style" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Address</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Vidhya</td>
                                    <td>Suresh</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Riya</td>
                                    <td>Ajay</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sanjna</td>
                                    <td>Vijay</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Bakrol</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Nitya</td>
                                    <td>Bhavin</td>
                                    <td>Shah</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Rekha</td>
                                    <td>Rakesh</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Nadiad</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Madhuri</td>
                                    <td>Digvijay</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Lambhvel</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Sakshee</td>
                                    <td>Mahendra</td>
                                    <td>Dhoni</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Anushka</td>
                                    <td>Avsar</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Tisha</td>
                                    <td>Rajesh</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Vidhya</td>
                                    <td>Arvind</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Vidhya</td>
                                    <td>Harish</td>
                                    <td>Patel</td>
                                    <td>Female</td>
                                    <td>15/07/1999</td>
                                    <td>Anand</td>
                                    <td>
                                        <button class="btn btn-outline-primary">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


