@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/Content/assets/css/error.css" rel="stylesheet" />
    <style>
        .w-25 {
            width: 25%;
        }

        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
    </style>
</head>
<body>
    @*<hgroup>
            <h1>Error.</h1>
            <h2>An error occurred while processing your request.</h2>
        </hgroup>*@
    <video autoplay muted loop id="myVideo">
        <source src="~/Content/assets/css/vecteezy_modern-animation-illustration-of-beautiful-woman-with-long_19548359_595.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <div class="wrapper">
        <div class="landing-page">
            <div style="text-align:center;" class="icon__download">
                <img src="~/Content/assets/css/Wavy_Lst-07_Single-11.jpg" class="w-25" />
            </div>
            <h1>Error</h1>
            <p>An error occurred while processing your request.</p>
            <button>Back to home</button>
        </div>
    </div>
</body>
</html>


